@tailwind base;
@tailwind components;
@tailwind utilities;

@screen print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

#app {
  @apply container mx-auto p-16 text-center h-a4 max-w-a4;
}
