@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout-column-2 {
    columns: 2;
  }
}

@screen print {
  @page {
    margin: 0;
  }
}

html, body {
  @apply bg-gray-100;
  @apply print:bg-transparent print:text-sm;
  font-family: 'Noto Sans TC', sans-serif;
}

#app {
  @apply container mx-auto p-4 text-center h-a4 max-w-a4;
  @apply md:p-16;
  @apply print:p-8;
}
